.view-orders{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    position: relative;
}
.qty{
    font-size: 20px;
     margin-top: 8px;
     font-weight: 500;
     margin-left: 30px;
}
.qty-color{
    color: rgb(35, 0, 52);
}