.message{
 margin: 200px;
}
.title{
    font-style: italic;
    font-size: 30px;
}
.response{
    font-size: 20px;
    color: blue;
}
.order-again{
    background: green;
    color: white;
    border-radius: 10px;

}
.order-again:hover{
    background: red;
    border-radius: 20px;
}
.view-order-btn{
    background: rgb(139, 3, 3);
    color: white;
    border-radius: 10px;
    margin-left: 50px;
}
.view-order-btn:hover{
    background: green;
    border-radius: 20px;
    margin-right: 50px;
}
@media (max-width: 360px) and (max-height: 740px){
    .message{
        /* height:50vh; */
        margin-left: 20px;
        margin-top: 90px;
    }
    .title{
        font-size: 20px;
    }
    .response{
        margin-left: 50px;
        font-size: 15px;
    }
    .order-again{
        margin-left: 100px;
        width: 100px;
        margin-top: 50px;
    }
    .view-order-btn{
        width: 120px;
        margin-top: 20px;
        margin-left: 90px;
    }
}
