.google-redirect-container {
  margin-left: 200px;
  margin-top: 100px;
}

p {
  text-align: center;
  color: rgb(68, 255, 0);
  font-size: 20px;
}
.text {
  color: red;
  font-style: italic;
}
.send-email-emoji {
  display: flex;
  margin-left: 100px;
  position: relative;
}

.send-email {
  height: 50px;
  width: 300px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-left: 30px;
  column-gap: 20px;
  background: rgb(241, 134, 211);
}
@media (max-width: 360px) and (max-height: 740px) {
  .google-redirect-container {
    margin-top: 90px;
    margin-left: -120px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
  }
  .send-email-emoji {
    display: flex;
    flex-direction: column;
  }
  .person {
    height: 200px;
    width: 200px;
  }
  p {
    font-size: 15px;
    margin-left: 120px;
  }
  .send-email {
    font-size: 15px;
  }
  .home-img {
    position: absolute;
    left: -450px; 
    margin-top: 220px;;          /* Adjusted top position */
    height: 50px;      /* Adjusted size */
    width: 150px;       /* Adjusted size */
  }
}
button {
  border-radius: 20px;
}
button:hover {
  color: rgb(245, 245, 245);
}
.email-img {
  height: 44px;
  width: 37px;
  transform: rotateZ(25deg);
  background-color: transparent;
  border: none;
}
.home-img {
  height: 150px;
  width: 250px;
  object-fit: contain;
  cursor: pointer;
  position: absolute;
  margin-left: 500px;
  top: 300px;
}
